<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>